In [1]:
#Dataframes
import numpy as np
import pandas as pd

In [13]:
#from dict of series or dict
'''
The resulting index will be the union of the indexes of the various Series. 
If there are any nested dicts, these will first be converted to Series. 
If no columns are passed, the columns will be the ordered list of dict keys.
'''
d = {'one': pd.Series([1., 2., 3.], index=['a', 'b', 'c']),
     'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
df

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0

In [7]:
d = {'one': {'c': pd.Series([1., 2., 3.], index=['a', 'b', 'c'])},
     'two': pd.Series([1., 2., 3., 4.], index=['a', 'b', 'c', 'd'])}
df = pd.DataFrame(d)
df

                                         one  two
a                                        NaN  1.0
b                                        NaN  2.0
c  a    1.0
b    2.0
c    3.0
dtype: float64  3.0
d                                        NaN  4.0

In [15]:
'''
The row and column labels can be accessed respectively by accessing the index and columns attributes
When a particular set of columns is passed along with a dict of data, 
the passed columns override the keys in the dict.
'''
print(pd.DataFrame(d, index=['d', 'b', 'a']))
print('---------')
print(pd.DataFrame(d, index=['d', 'b', 'a'], columns=['two', 'three']))

   one  two
d  NaN  4.0
b  2.0  2.0
a  1.0  1.0
---------
   two three
d  4.0   NaN
b  2.0   NaN
a  1.0   NaN

In [16]:
print(df.index)
print('--------')
print(df.columns)

Index(['a', 'b', 'c', 'd'], dtype='object')
--------
Index(['one', 'two'], dtype='object')

In [19]:
#from dict of ndarrays/ list
'''The ndarrays must all be the same length. 
If an index is passed, it must clearly also be the same length as the arrays. 
If no index is passed, the result will be range(n), where n is the array length.
'''
d = {'one':[1., 2., 3., 4.],
     'two': [4., 3., 2., 1.]}
df = pd.DataFrame(d, index=['a', 'b', 'c', 'd'])
df

   one  two
a  1.0  4.0
b  2.0  3.0
c  3.0  2.0
d  4.0  1.0

In [23]:
#from structured array or record array
data = np.zeros((2,), dtype=[('A', 'i4'), ('B', 'f4'), ('C', 'a10')])
data[:] = [(1, 2., 'Hello'), (2, 3., 'World')]
df = pd.DataFrame(data, index=['one', 'two'])
df

     A    B         C
one  1  2.0  b'Hello'
two  2  3.0  b'World'

In [27]:
df = pd.DataFrame(data, index=['one', 'two'], columns=['B','A', 'C'])
print(df)
print('------')
df = pd.DataFrame(data, index=['one', 'two'], columns=['colB','colA', 'colC'])
print(df)

       B  A         C
one  2.0  1  b'Hello'
two  3.0  2  b'World'
------
    colB colA colC
one  NaN  NaN  NaN
two  NaN  NaN  NaN

In [30]:
#from list of dict
data2 = [{'a':'1', 'b':'2'},{'a':'3', 'b':'4', 'c':'5'}]
df = pd.DataFrame(data2, index=['one','two'])
df

     a  b    c
one  1  2  NaN
two  3  4    5

In [32]:
#from dict of tuples
pd.DataFrame({('a', 'b'): {('A', 'B'): 1, ('A', 'C'): 2},
               ('a', 'a'): {('A', 'C'): 3, ('A', 'B'): 4},
               ('a', 'c'): {('A', 'B'): 5, ('A', 'C'): 6},
               ('b', 'a'): {('A', 'C'): 7, ('A', 'B'): 8},
               ('b', 'b'): {('A', 'D'): 9, ('A', 'B'): 10}})

       a              b
       b    a    c    a     b
A B  1.0  4.0  5.0  8.0  10.0
  C  2.0  3.0  6.0  7.0   NaN
  D  NaN  NaN  NaN  NaN   9.0